[Unit]
Description=Schedule for NYCynapse lake load: nyc_geo

[Timer]
OnCalendar=*-*-02 04:40:00 UTC
RandomizedDelaySec=20m
Persistent=true
Unit=nyc-lake@nyc_geo.service

[Install]
WantedBy=timers.target
