[Unit]
Description=Schedule for NYCynapse lake load: nyc_collisions

[Timer]
OnCalendar=*-*-* 04:20:00 UTC
RandomizedDelaySec=10m
Persistent=true
Unit=nyc-lake@nyc_collisions.service

[Install]
WantedBy=timers.target
